*{margin: 0;
    padding: 0;
    box-sizing: box;}
    /*Fonts*/
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
    /*Colors*/
    :root{
        --main-white:#f0f0f0;
        --cherry-red: #990011;
        --off-white: #FCF6F5;
        --matte-black: #343333;
    }
/* src/components/Contact.css */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
:root {
    --background-color: #091619;
    --main-white: #f0f0f0;
    --cherry-red: #990011;
    --off-white: #FCF6F5;
    --matte-black: #343333;
    --sub-title: #20bf55;
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(25deg, var(--background-color) 50%, var(--matte-black) 50%);
}
header {
    color: transparent;
    padding: 30px;
}
h1 {
    margin: 0;
    font-size: 36px;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('../Components/SVG/about.svg');
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Style section headings */

h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}

/* Style paragraphs */
p {
    font-size: 16px;
    line-height: 1.5;
    color: black;
}

/* Style education entries */
/* Style the education section */
.education-list {
    background-color: rgba(16, 134, 16, 0.884);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid black;
}

/* Style the education heading */
.education-list hr{
    width: 23%;
}
.education-list li hr{
    width: 60%;
}
.education-list h{
    font-size: 34px;
    font-weight: bold;
}
.education-list h1{
    font-size: 25px;
    color: black;
    padding-bottom: 10px;
}
.education-list h2{
    font-size: 20px;
    padding-top: 10px;
    color: white;
}

/* Style education entries */
.education-list ul {
    list-style: none;
    padding: 0;
}

.education-list li {
    margin-bottom: 20px;
    padding-left: 10px;
}
/* Add space between sections */
section {
    margin-bottom: 20px;
}

/* Style skills section */
.skills {
    margin-top: 20px;
}

/* Create a grid for skill list */
.skill-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-list li {
    font-size: 18px;
    margin-bottom: 10px;
    width: calc(33.33% - 10px); /* Adjust the width as needed */
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(16, 134, 16, 0.884);
    border-radius: 5px;
    border: 2px solid black;
}

/* Style icons in the skill list */
.skill-list i {
    margin-right: 10px;
    font-size: 20px;
    color: #b3f00e; /* Change the color as desired */
}
/*list*/
ul {
    padding: 20px;
}
li {
    list-style-type: none;
    display: inline;
    font-size: 2em;
    padding: 10px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
li a {
    text-decoration: none;
    color: var(--main-white);
    float: right;
    padding: 10px;
}
li a:hover {
    color: var(--sub-title);
}
.navigation {
    position: fixed;
    width: 100%;
    background: var(--off-white);
    box-shadow: 0 2px 0 rgba(214, 125, 125, 0.4);
    z-index: 10;
    background-color: #091619;
    align-items: center;
}
.navigation h1 {
    color: var(--off-white);
    font-size: 2em;
    display: inline-block;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.navigation span {
    color: gray;
}